[tool.poetry]
name = "mistralai"
version = "1.1.1"
description = "Python Client SDK for the Mistral AI API."
authors = ["Mistral"]
readme = "README.md"
packages = [
    { include = "mistralai", from = "src" },
    { include = "mistralai_azure", from = "packages/mistralai_azure/src" },
    { include = "mistralai_gcp", from = "packages/mistralai_gcp/src" },
]
include = ["py.typed", "src/mistralai/py.typed"]

[tool.setuptools.package-data]
"*" = ["py.typed", "src/mistralai/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.27.0"
jsonpath-python = "^1.0.6"
pydantic = "~2.8.2"
python-dateutil = "^2.9.0.post0"
typing-inspect = "^0.9.0"
google-auth = { version = "2.27.0", optional = true }
requests = { version = "^2.32.3", optional = true }

[tool.poetry.group.dev.dependencies]
mypy = "==1.10.1"
pylint = "==3.2.3"
pytest = "^8.2.2"
pytest-asyncio = "^0.23.7"
types-python-dateutil = "^2.9.0.20240316"

[tool.poetry.extras]
gcp = ["google-auth", "requests"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true
