name: Testing Python custom files

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6

      - name: Install dependencies
        run: |
          touch README-PYPI.md
          uv sync --all-extras

      - name: Run the 'src/mistralai/extra' package unit tests
        run: uv run python3.12 -m unittest discover -s src/mistralai/extra/tests -t src
